packages:
  yum:
    curl: []
    jq: []

commands:
  01_install_datadog:
    command: |
      DD_API_KEY=803e12c307c1580d131af68935aea577 \
      DD_SITE="us5.datadoghq.com" \
      bash -c "$(curl -L https://install.datadoghq.com/scripts/install_script_agent7.sh)"

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000644"
    owner: root
    group: root
    content: |
      api_key: 803e12c307c1580d131af68935aea577
      site: us5.datadoghq.com
      logs_enabled: true
      apm_config:
        enabled: true
      process_config:
        enabled: true 