option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start:prod"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    DD_LOGS_INJECTION: true
    DD_RUNTIME_METRICS_ENABLED: true
    DD_PROFILING_ENABLED: true
    DD_APM_ENABLED: true
    OPENAI_API_KEY: ${OPENAI_API_KEY}
    AI_ASSISTANT_ID: ${AI_ASSISTANT_ID}
    AI_ADMIN_ID: ${AI_ADMIN_ID}
    STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
    JWT_SECRET: ${JWT_SECRET}
    DATABASE_URL: ${DATABASE_URL}
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    EC2KeyName: marriott-hotels-backend
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced 